body{
  font-family: "Poppins", "Calibri", "Lucida Grande", sans-serif;
}

html{
  scroll-behavior: smooth;
}

summary::marker {
  display: none;
}

summary {
  list-style: none;
}

#gradient{
  width: calc(100vw + 30vh);
  height: 100%;
  color: #fff;
  transition: all 3.6s;
  transition-delay: 0.8s;
  position: relative;
  z-index: 10;
}

#azul #gradient{
  background: linear-gradient(90deg, #1F1A62, #039ED0);
}


#verde #gradient{
  background: linear-gradient(90deg, #005D2B, #00B030);
}