body{
  font-family: "Poppins", "Calibri", "Lucida Grande", sans-serif;
}

html{
  scroll-behavior: smooth;
}

summary::marker {
  display: none;
}

summary {
  list-style: none;
}

#gradient{
  width: calc(100vw + 50vh);
  height: 100%;
  color: #fff;
  transition: all 3.6s;
  transition-delay: 0.8s;
  position: relative;
  z-index: 10;
}

#azul #gradient{
  background: linear-gradient(90deg, #1F1A62, #039ED0);
}


#verde #gradient{
  background: linear-gradient(90deg, #005D2B, #00B030);
}

#verde #gradient::after{
  content: '';
  display: block;
  width: 45vh;
  height: 45vh;
  position: absolute;
  top: 0;
  right: -22.5vh;
  background-image: url(/bolaverde.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

#azul #gradient::after{
  content: '';
  display: block;
  width: 45vh;
  height: 45vh;
  position: absolute;
  top: 0;
  right: -22.5vh;
  background-image: url(/bolaazul.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

#verde, #azul{
  transition: 4s;
}